.group\/design-root {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow-x: hidden;
}

.layout-container {
  display: flex;
  height: 100%;
  flex-grow: 1;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  border-bottom: 1px solid #f5f2f0;
  padding: 0 2.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

header > div:first-child {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #181411;
}

header > div:last-child {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  gap: 2rem;
}

header > div:last-child > div:first-child {
  display: flex;
  align-items: center;
  gap: 2.25rem;
}

header > div:last-child > div:last-child {
  display: flex;
  gap: 0.5rem;
}

button {
  display: flex;
  max-width: 480px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 0.75rem;
  height: 2.5rem;
  background-color: #f5f2f0;
  color: #181411;
  gap: 0.5rem;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.015em;
  min-width: 0;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.layout-content-container {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  flex: 1;
}

@container (min-width: 480px) {
  .layout-content-container > div:first-child {
    padding: 1rem;
    padding-bottom: 0.75rem;
  }
}

@container (min-width: 480px) {
  .layout-content-container > div:first-child > div {
    border-radius: 0.75rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(158px, 1fr));
  gap: 0.75rem;
  padding: 1rem;
}

.grid > div {
  display: flex;
  flex: 1;
  gap: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid #e6dfdb;
  background-color: white;
  padding: 1rem;
  flex-direction: column;
}

.grid > div > div:last-child {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

@container (min-width: 480px) {
  .layout-content-container > div:last-child {
    gap: 0.5rem;
  }
}

.layout-content-container > div:last-child > div {
  aspect-ratio: 3/2;
  display: flex;
}

.layout-content-container > div:last-child > div > div {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: auto;
  border-radius: 0;
  flex: 1;
} 